<!DOCTYPE html>
<html>
    <head>
        <title>Overlay Map</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0">
        
        <link rel="stylesheet" href="/templates/css/map.css">

    </head>

    <body>
        <!-- <button id="satellite">Mudar para satélite</button>-->

        <div id="map"></div>

        <script src="/templates/js/map.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6jbXU6rzzlIPpJvtIYA9TUWeSpAnPiOE&callback=initMap" async defer></script>
    </body>

</html>